<app-header></app-header>
<div class="container">
<router-outlet>
     
</router-outlet>

</div>


<footer class="section footer-classic context-dark bg-image" style="background: #3c0c46;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>Para nosotros es un gusto atenderte puedes comunicarte con nosotros atraves de este medio o descargar nuestra aplicaiòn en la google play ingresando lucero y su Show .</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>SMARTAPPS</span><span>. </span><span>Todos los derechos reservados.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contactos</h5>
              <dl class="contact-list">
                <dt>Quito</dt>
              
              </dl>
              <dl class="contact-list">
                  
                <dt><img src="../../assets/img/email.png">&nbsp;&nbsp;&nbsp;email:</dt>
                
                <dd><a href="mailto:#">luceroysushow@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt><img src="../../assets/img/telefono-inteligente.png">&nbsp;&nbsp;&nbsp;celular:</dt>
                <dd><a href="tel:#">0998141455</a> <span>--</span> <a href="tel:#">0994884444</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="/inicio">Quienes Somos</a></li>
                <li><a href="/luceroysushow">Lucero y su Show</a></li>
                <li><a href="/repertorio">Repertorio</a></li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/Reservas">Reservar</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="https://www.facebook.com/luceroysushow"><span class="icon mdi mdi-facebook"><img src="../../assets/img/facebook.png"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="https://www.instagram.com/lucero_y_su_show/?hl=es-la"><span class="icon mdi mdi-instagram"><img src="../../assets/img/instagram.png"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="https://api.WhatsApp.com/send?phone=+593998141455&text=Reservar"><span class="icon mdi mdi-twitter"><img src="../../assets/img/whatsapp.png"></span><span>whatsApp</span></a></div>
          <div class="col"><a class="social-inner" href="https://play.google.com/store/apps/details?id=com.capo2786.LuceroMovil"><span class="icon mdi mdi-youtube-play"><br><img src="../../assets/img/google-juego.png"></span><span>play store</span></a></div>
        </div>
      </footer>


