<br>
<br>
<div class="row">
  <div class="card text-white bg-success mb-6" style="max-width: 30rem;">
    <div class="card-header"><strong>Misiòn</strong></div>
    <div class="card-body">
      
      <p class="card-text">Llegar a las familias ecuatorianas en cada presentaciòn con una excelente animaciòn, y transmitir a traves de cada show el sentimiento de amor y cariño para cada uno de los homenajeados con un excelente servicio y calidad profesional.</p>
    </div>
  </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div  class="card text-white bg-info mb-6" style="max-width: 30rem;">
  <div class="card-header"><strong>Visiòn</strong></div>
  <div class="card-body">
    
    <p class="card-text">Convertirme en una manager de eventos que no solo vincule la musica ranchera a traves de Lucero y su Show, sino tambien tener varias alternativas artisticas con diversos cantantes y ofrecer asi a mis clientes mas estilos musicales, con convenios con otros artistas.</p>
  </div>
</div>

</div>
<br>
<br>

