.example-card {
    max-width: 300px;
    min-width: 300px;
  }
  
  .example-header-image {
    background-image: url('../../assets/img/bglogoMenu.png');
    background-size: cover;
  }

  p {

    color: aliceblue
  }