<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-white rounded shadow-sm">
    <img class="mr-3" src="/docs/4.3/assets/brand/bootstrap-outline.svg" alt="" width="45" height="45">
    &nbsp;&nbsp;
    <div class="lh-100">
      <h4 class="mb-1 text-white lh-100  "><u>Servicios:</u>  </h4>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    
    <div class="media text-muted pt-3">

        <img src="../../assets/imgs/bglogoMenu.png" routerLink='/masservicios' width="45" height="45">
        &nbsp;&nbsp;
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-black"><u>Lucero y su Show</u></strong>
        Ofrecemos un amplio repertorio
        entre rancheras, boleros, cumbias y mùsica nacional que será
        de su agrado, haciendo de este
        un recuerdo inolvidable.
        
      </p>
      
    </div>
    <small class="d-block text-right mt-3">
      <a href="/Reservas">Reservar</a>
    </small>
    
    <div class="media text-muted pt-3">
        <img src="../../assets/img/1554_D7200_left.png" routerLink='/masservicios' width="45" height="45">
        &nbsp;&nbsp;
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-black"><u>Fotografía</u></strong>
        1 foto     $   3 dolares
        2 fotos    $   5 dolares
        A4 foto    $  25 dolares
        Álbum      $  45 dolares 
        (incluye 50 fotos)
      </p>
    </div>
    <small class="d-block text-right mt-3">
      <a href="/Reservas">Reservar</a>
    </small>
    <div class="media text-muted pt-3">
        <img src="../../assets/img/microfono.png" routerLink='/masservicios' width="45" height="45">
        &nbsp;&nbsp;
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
          <strong class="d-block text-black"><u>Serenata Virtual</u></strong>
          
          Regálale a tu ser querido esta novedosa  serenata virtual, te brindamos
          este serivicio para que puedas dar un detalle único.
        </p>
        
        
      </div>
      <small class="d-block text-right mt-3">
        <a href="/Reservas">Reservar</a>
      </small>
    <div class="media text-muted pt-3">
        <img src="../../assets/img/gospel.png" routerLink='/masservicios' width="45" height="45">
        &nbsp;&nbsp;
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-black"><u>Serenata Cristiana</u></strong>
       Temas como El Alfarero, Un día a la vez, El camino del evangelio, entre otros
        ,
        al estilo de Lucero y su Show canta para Cristo.
      </p>
    </div>
    <small class="d-block text-right mt-3">
      <a href="/Reservas">Reservar</a>
    </small>
  </div>

  
</main>